body{font-family: "微软雅黑";}
.container-fluid{background-color: #439dfe;height: 50vh;}
.lg-fontmid{text-align: center;margin-top: 40px;}
.lg-bold{font-weight: bold;}
.lg-title{font-size: 5.5vw;color: white;}
.lg-center{position: absolute;top: 45%;left: 50%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.lg-div{border: 1px solid #E0E0E0;background: white;padding:80px;}
.lg-form{/*height:300px;*/margin: auto;}   
.lg-zt{width:250px;border-bottom: 1px solid #439dfe;text-align: center;}        
.lg-font{font-size: 1em;color:#439dfe ;line-height: 50px;}           
.btn-blue{background:#439dfe;color: white;}            
.btn-blue:hover{color: white;}
.lg-input{width: 100%;border-bottom: 1px solid #DDDDDD;height: 50px;padding-top: 20px;}
.lg-input input{width:100%;border: none;}
.lg-input input:focus{outline: none;}
.lg-reg{text-align: right;line-height: 50px;}
.lg-reg a{color: #439dfe;}
.lg-reg a:hover{text-decoration: none;}
